@{
    ViewBag.Title = "Jason's Story";
}

<div id="foundersStory">
    <img class="right" src="@Url.Content("~/Content/images/founder.jpg")" title="Our Founder" />

    <div class="large-label">JASON'S STORY</div>

    <p>
        <span class="bold">Mission [mish‐uhn]</span> - <span class="italic">A specific task or duty assigned to a person or group of
    people.</span>
    </p>
    <p>
        I used to think handing out charity was enough.
    </p>
    <p>
        In 2002, straight out of school, I fulfilled a lifelong dream of becoming a professional
    firefighter. Although firefighting was both thrilling and rewarding, I felt God
    leading me to something more. I sought out new opportunities to make a difference,
    locally and around the world. This led me to volunteering in the barrios of
    Mexico, helping people who lived in horrendous situations. Focusing on housing
    – we built safe and decent shelter for people living in cardboard boxes, for free.
    </p>
    <p>
        Shortly thereafter, in 2005, things started to change.
    </p>
    <p>
        I began to understand that poverty is much deeper than its disturbing effects. Also, that many ‘solutions’, as well intended
    as they may be, do not address the root of the problem. It was going to take more than four walls and a roof to make a long
    lasting, sustainable difference in the lives of those effected by poverty. I started envisioning an approach that focused not
    just on serving the poor, but empowering individuals in their struggle against poverty ‐ building neighborhoods, and eventually,
    transforming entire communities.
    </p>
    <p>
        I started to see my assignment. My 1Mission.
    </p>
    <p>
        In 2008, I left the fire department and launched 1Mission. From the start, we decided that we would build houses, but not as
    free handouts. There was a larger purpose in helping those in need; something radical was needed to rescue people from
    the impact of poverty.
    </p>
    <p>
        We established a reciprocal‐exchange process of working with the poor, to uphold their dignity and responsibility. A process
    that cultivated true partnerships rather than relationships built on unequal power. A process that gives people an opportunity
    not only to make their own lives better, but others around them as well. This ensures the whole community benefits from
    every house that families earn, including, churches, schools, orphanages and other local organizations. Each house creates
    an enormous amount of leverage in the form of empowered people; which results in, not only addressing the immediate
    housing crisis, but also paving the way for long‐term, individual and community transformation.
    </p>
    <p>
        This is our 1Mission.
    </p>
    <p>
        - Jason Schnieder Law<br />
        Follow me on Twitter
    </p>
</div id="foundersStory">
