@{
    ViewBag.Title = "Meet the Staff";
}

<h1 class="center-text header-label">MEET THE STAFF</h1>

<div class="main-width" id="staffProfiles">
    <div class="staff-profile group">
        <div class="staff-image left">
            the image goes here
        </div>
        <div class="staff-description right">
            <div class="staff-name">JASON LAW</div>
            <div class="staff-title">[ CEO, FOUNDER ]</div>
            <div class="staff-bio">
                After serving in Mexico for years, Jason recognized the need for more 
                indigineous empowerment. In 2008, he founded 1MISSION with a vision for 
                helping people see themselves as active participants instead of passive 
                recipients of change. With a background as wide-ranging as his talents, 
                he leads the overall vision and operations of 1MISSION. Read his full 
                story.
            </div>
        </div>
    </div>
    <div class="staff-profile group">
        <div class="staff-image left">
            the image goes here
        </div>
        <div class="staff-description right">
            <div class="staff-name">DUSTIN PATRICK</div>
            <div class="staff-title">[ CREATIVE DIRECTOR ]</div>
            <div class="staff-bio">
                A self-proclaimed generalist, Dustin has had several roles with 
                1MISSION. After getting operations in Puerto Penasco off the ground, 
                he moved back home to Phoenix where he creates and executes our 
                communication strategies. He believes in the power of a good story, 
                and uses that passion to connect people to our mission in innovative 
                ways. Now he spends his days project managing our creative endeavors 
                like web design, multi-media production, social media, and brand 
                engagement.
            </div>
        </div>
    </div>
    <div class="staff-profile group">
        <div class="staff-image left">
            the image goes here
        </div>
        <div class="staff-description right">
            <div class="staff-name">GREG YOCHIM</div>
            <div class="staff-title">[ MEXICO COORDINATOR ]</div>
            <div class="staff-bio">
                Greg’s home church was one of our first groups that traveled to Puerto 
                Penasco to build a house; he’s never looked back. Since then, he’s been 
                a one-man logistical dream team for thousands of people that travel to 
                Mexico every year to build homes. He knows his way around the office, 
                but you’re most likely to find him taking care of business from a taco 
                stand in Mexico. Originally from Alberta, Canada, Greg has been a 
                honorary Phoenix native for more than 10 years.
            </div>
        </div>
    </div>
    <div class="staff-profile group">
        <div class="staff-image left">
            the image goes here
        </div>
        <div class="staff-description right">
            <div class="staff-name">PEDRO TAPIA</div>
            <div class="staff-title">[ FIELD DIRECTOR ]</div>
            <div class="staff-bio">
                Growing up in the barrios of Hermosillo in Sonora, Mexico, Pedro knows 
                what it’s like to live without much hope. After attending the University
                 of Sonora, he made it his life mission to spread a message of individual 
                dignity and belonging among the world’s impoverished. After 10+ years of 
                leadership in hispanic churches throughout California, Arizona, and Mexico, 
                he now helps his community identify problems and assets they have to 
                implement solutions.
            </div>
        </div>
    </div>
    <div class="staff-profile group">
        <div class="staff-image left">
            the image goes here
        </div>
        <div class="staff-description right">
            <div class="staff-name">CARLA BOARDMAN</div>
            <div class="staff-title">[ FINANCE DIRECTOR ]</div>
            <div class="staff-bio">
                Have you ever met someone who crunches numbers in their sleep? We have. With 
                decades of experience in non-profit accounting, Carla has been making sure 
                everything adds up at 1MISSION since 2010. She helps tackle the housing crisis 
                by ensuring financial transparency and accountability across the entire 
                organization. When she’s not  diving into reports, she can be found camping 
                and traveling with her family.
            </div>
        </div>
    </div>
    <div class="staff-profile group">
        <div class="staff-image left">
            the image goes here
        </div>
        <div class="staff-description right">
            <div class="staff-name">KATIE JENSEN</div>
            <div class="staff-title">[ EVENTS COORDINATOR ]</div>
            <div class="staff-bio">
                Although born and raised in Phoenix, Katie comes to us from L.A. where she 
                orchestrated events in a group home facility for pregnant and parenting teens. 
                A super planner since birth, she’s the logistical genius behind all of our 
                major events. When she’s not on the phone or checking out venues, you’ll find 
                her running, hiking, or doing something crafty. Fun fact: Katie LOVES exclamation 
                points!!!
            </div>
        </div>
    </div>
    <div class="staff-profile group">
        <div class="staff-image left">
            the image goes here
        </div>
        <div class="staff-description right">
            <div class="staff-name">DAROL KUBACZ</div>
            <div class="staff-title">[ PUBLIC RELATIONS ]</div>
            <div class="staff-bio">
                Darol lives to see people connect to something bigger than themselves. He hails 
                from South Carolina but feels right at home in Phoenix. He spends his days finding 
                innovative ways to engage people with our mission. Darol was drawn to 1MISSION because 
                of his passion for empowerment and community development. When he’s not in front of a 
                crowd talking about 1MISSION, you’ll find him enjoying the outdoors hand cycling and 
                paragliding.
            </div>
        </div>
    </div>
</div>