@{
    ViewBag.Title = "Go on a trip";
}

<h1 class="center-text header-label">GO ON A TRIP</h1>

<div id="tripsDescription" class="main-width group">
    <p>
        Travel to Puerto Peñasco, Mexico to help build a house. Puerto Peñasco (aka "Rocky Point") 
        is just a four hour drive south of Phoenix, AZ. <a href="">See it on a map</a>.
    </p>
    <p>
        Churches, schools, businesses, and sport teams have all been a part of the <span class="bold">1MISSION</span>
        house build trip experience. Typically, it takes just three days to build a new home with a team of 20-40
        people. 
    </p>
    <div class="left">
        <iframe src="http://player.vimeo.com/video/15065967" width="450" height="253" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        <div class="video-label">HOUSE BUILD TRIPS</div>
    </div>
    <div class="right">
        <iframe src="http://player.vimeo.com/video/8003837" width="450" height="253" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        <div class="video-label"><span class="bold">1MISSION</span> BASE CAMP</div>
    </div>
</div>


<div id="tripsSchedule" class="main-width">
    <h3>TRIP SCHEDULE</h3>
    <table id="schedule">
        <thead>
            <tr>
                <th class="bold">DATE</th>
                <th class="bold">ARRIVE</th>
                <th class="bold">DEPART</th>
                <th class="bold">TRIP DETAILS</th>
                <th class="bold">PRICE</th>
                <th class="bold">AVAIL. SPOTS</th>
                <th class="bold">NOTES</th>
                <th class="bold">SIGN UP</th>
            </tr>
        </thead>
        <tr class="alternate">
            <td>Feb 15 - Feb 18</td>
            <td>Friday - 9pm</td>
            <td>Monday - 1pm</td>
            <td>House Build</td>
            <td>$225</td>
            <td>0</td>
            <td>President's Day</td>
            <td>Individual/Group</td>
        </tr>
        <tr>
            <td>Feb 15 - Feb 18</td>
            <td>Friday - 9pm</td>
            <td>Monday - 1pm</td>
            <td>House Build</td>
            <td>$225</td>
            <td>0</td>
            <td>President's Day</td>
            <td>Individual/Group</td>
        </tr>
    </table>
</div>


<div id="tripFeeInformation" class="main-width">
    <h3>WHAT DOES MY TRIP FEE INCLUDE?</h3>
    <span class="bold">
        100% of your trip fee will be used for direct costs associated with
        our projects:
    </span>
    <ul id="tripExpenses">
        <li>Building materials</li>
        <li>Food & supplies for participants</li>
        <li>Base camp operations</li>
        <li>Community health education (CHE)</li>
        <li>Salaries for field staff</li>
    </ul>

    <div id="transportationHelp">
        Flying into Phoenix? Need help with transportation to Mexico? <a href="">Contact us.</a>
    </div>
</div>