html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font: 12px arial, verdana #000;
	background: #e5e5e5 url(images/gradients/main-bg.jpg) center center no-repeat;
	height: 100%;
	font: 12px arial, verdana;
}

body a {
	text-decoration: none;
}

h1 {
    font: bold 36px arial, verdana;
    padding: 0;
    margin: 0;
    color: #8dc63f;
}

h2 {
	font: bold 30px arial, verdana;
	color: #333;
}

/* delete this and corresponding html div if you do not want 
a sticky footer */
#pageWrapper { 
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -150px; /* neg value of footer's height */
}

/* Header
-----------------------------------------------------------*/
#header {
	position: relative;
	height: 220px;
	width: 100%;
	min-width: 967px;
	background: #333;
}

#headerContent {
	max-width: 1200px;
	margin: 0 auto;
}

#headerSocial {
	margin: 60px 0 0 5px;
	max-width: 300px;
	width: 24%;
	float: left;
}

#logoContainer {
	max-width: 600px;
	width: 50%;
	float: left;
	padding: 40px 0 0 0;
}

#logo {
	margin: 0 auto;
	width: 385px;
}

#account {
	margin: 75px 5px 0 0;
	max-width: 300px;
	width: 24%;
	float: left;
}

#account span {
	float: right;
	color: #fff;
	font: 12px arial, verdana;
}

#nav {
	position: absolute;
	bottom: 0;
	height: 56px;
	width: 100%;
}

#menuContainer {
	max-width: 1190px;
	margin: 0 auto;
	text-align: justify; /* center the anchor tags horizontally and equally */
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

/* make sure any items in the menu have display: inline-block for text-align: 
justify to affect them */
#menuContainer a {
	margin: 5px 0 0 0;
	display: inline-block;
	*display: inline; /* for IE6 */
    zoom: 1;
    color: #fff;
    font: bold 24px arial, verdana;
}

#menuContainer a:hover {
    color: #8dc63f;
}

#menuContainer #firstLink {
	margin-left: 5px;
}

/* my1mission styling */
#menuContainer #lastLink {
	padding: 5px 9px 5px 35px;
	height: 41px;
	background: #8cc63e url(images/layout/my1mission-border.png) no-repeat left;
	color: #fff;
}

.stretch {
    width: 100%;
    display: inline-block;
	*display: inline; /* for IE6 */
    zoom: 1;
    font-size: 0;
    line-height: 0
}

/* Body
-----------------------------------------------------------*/
#content {
	margin: 0 auto;
	min-width: 967px;
	max-width: 1200px;
}

#progress {
	background: url(images/home/world-bg.png) no-repeat;
	padding: 0 0 50px 0;
}

#progressDescription{
	width: 967px;
	margin: 0 auto;
	padding: 20px 0 10px;
	
}

/* brings the "learn more" link into line with the rest of 
the content */
#progressDescription a { 
	margin: 0 15px 0 0;
}

#videoSpotlight {
	width: 967px;
	margin: 15px auto 30px;
}

#waysToContribute {
	margin: 40px 0 0 0;
	list-style: none;
}

#waysToContribute li {
	margin: 30px 0 0 80px;
	text-align: center;
}

#statistics{
	width: 550px;
	margin: 40px auto 0;
}

.statistic-column {
    position: relative;
	margin: 20px 0 0 0;
	text-align: center;
}

.statistic-column img {
	margin: 0 0 0 10px;
}

.statistic {
	font: bold 36px arial, verdana;
	color: #333;
}

.statistic-description {
	margin: 0 20px 0 0;
}

.statistic-information {
    position: absolute;
    top: -60px;
    right: 2px;
    width: 200px;
    padding: 5px;
    color: #fff;
    background: #000;
    opacity: .5;
}

/* bring the first popup closer to statistic */
.statistic-information.push-right {
    right: -15px;
}

.highlight-link {
	font: 14px arial, verdana;
	color: #8dc63f;
}

#helpNow {
	width: 967px;
	margin: 0 auto 60px;
	
}

#waysToHelp {
	width: 370px;
	margin: 0 0 0 50px;
	padding: 70px 0 0;
}

#helpNowDonateButton {
	margin: 50px 30px 0 0;
}

#helpNowCampaignButton {
	margin: 50px 0 0;
}

#foundersStory {
    padding: 20px 5px 20px;
}

#foundersStory > img {
    padding: 0 0 5px 5px;
}

#whoWeAre {
    padding: 15px 0 40px;
}

#whoWeAre > h2 {
    font: bold 32px arial, verdana;
    color: #8dc63f;
}

.about-tab {
    background: #b7b7b7;
    height: 120px;
    width: 80%;
    margin: 10px auto;
}

.about-tab:hover {
    background: #8dc63f;
}

.about-tab-logo {
    border-right: 2px solid #fff;
}

.about-tab-logo.founder {
    padding: 0 30px 0 0;
    margin: 20px 0 0 20px;
}

.about-tab-logo.staff {
    padding: 0 35px 0 0;
    margin: 20px 0 0 40px;
}

.about-tab-logo.finances {
    padding: 0 65px 0 0;
    margin: 20px 0 0 70px;
}

.about-tab-logo.events {
    padding: 0 75px 0 0;
    margin: 20px 0 0 80px;
}

.about-tab-label {
    margin: 50px 0 0 20px;
    color: #fff;
    font: bold 18px arial, verdana;
}

.large-h-divider {
	min-width: 967px;
	max-width: 1200px;
	height: 2px;
	background: url(images/large-h-divider.png) repeat-x;
}

.large-h-divider-dark {
    min-width: 900px;
    max-width: 1200px;
    height: 2px;
    background: url(images/large-h-divider-dark.png) repeat-x;
}

.large-v-divider {
	width: 2px;
	height: 225px;
	margin: 0 80px;
	background: url(images/large-v-divider.png) repeat-y;
}

.small-v-divider {
	width: 2px;
	height: 100px;
	margin: 0 20px;
	background: url(images/small-v-divider.png) repeat-y;
}

/* probably needs to be refactored. resets left margin for the 
second divider. */
.small-v-divider.no-left-margin {
	margin: 0 20px 0 0;
}

.large-label
{
    font: bold 64px arial, verdana;
    padding: 0;
    margin: 0;
    color: #8dc63f;
}

#oneInEight {
    width: 967px;
    margin: 50px auto 0;
}

#oneInEight img {
    margin: 0 auto 40px;
}

#ourImpact {
    width: 967px;
    margin: 10px auto 20px;
}

.impact-highlight {
    margin: 10px 0 0 0;
    width: 440px;
    height: 300px;
}

.impact-icon {
    margin: 0 auto;
}

#whyHouses .impact-icon {
    width: 111px;
}

#genuineExchange .impact-icon {
    margin-top: 9px;
    width: 189px;
}

#communityDevelopment .impact-icon {
    width: 110px;
}

#economicImpact .impact-icon {
    width: 137px;
}

.impact-title {
    margin: 5px auto 0;
    font: bold 22px arial, verdana;
    color: #8dc63f;
}

#whyHouses .impact-title {
    width: 152px;
}

#genuineExchange .impact-title {
    width: 231px;
}

#communityDevelopment .impact-title {
    width: 309px;
}

#economicImpact .impact-title {
    width: 208px;
}

.impact-description {
    margin: 10px 0 0 0;
    font: 16px arial, verdana;
}

#hoursServedTopBorder {
    width: 967px;
    margin: 0 auto;
}

#hoursServed {
    width: 967px;
    margin: 0 auto;
}

#hoursServedLeft {
    background: url(images/what_we_do/rounded-border-left.png) no-repeat;
    width: 307px;
    height: 30px;
    margin: 20px 0 0 0;
}

#hoursServedTitle {
    font: bold 38px arial, verdana;
    margin: 0 14px 0 14px;
}

#hoursServedRight {
    background: url(images/what_we_do/rounded-border-right.png) no-repeat;
    width: 329px;
    height: 30px;
    margin: 20px 0 0 0;
}

.hours-served-highlight {
    width: 165px;
    height: 230px;
}

.hours-served-highlight#projects {
    margin: 0 20px 0 30px
}

.hours-served-highlight#congregations {
    margin: 0 0 0 30px
}

.hours-served-highlight#seminars {
    margin: 0 0 0 30px
}

.hours-served-highlight#homes {
    margin: 0 0 0 30px
}

.hours-served-highlight#cooperation {
    margin: 0 0 0 20px
}

.hours-served-icon {
    margin: 0 auto 10px;
}

#projects .hours-served-icon {
    width: 128px;
}

#congregations .hours-served-icon {
    margin-top: 4px;
    width: 120px;
}

#seminars .hours-served-icon {
    margin-top: 25px;
    width: 91px;
}

#homes .hours-served-icon {
    margin-top: 18px;
    width: 90px;
}

#cooperation .hours-served-icon {
    margin-top: 6px;
    width: 51px;
}

#hoursServedBottomBorder {
    margin: 0 auto;
    width: 967px;
    height: 32px;
    background: url(images/what_we_do/rounded-border-bottom.png) no-repeat;
}

#whatWeDoQuote {
    width: 900px;
    margin: 40px auto;
}

#quote span {
    font: 22px arial, verdana;
    font-style: italic;
    color: #00aeef;
}

#author span {
    font: bold 12px arial, verdana;
}

#serviceDetails {
    width: 967px;
    margin: 0 auto;
}

#serviceDetails .large-h-divider-dark {
    margin: 0 0 60px 0;
}

.service-highlight {
    width: 300px;
    height: 285px;
}

#donations {
    margin: 0 20px 0;
}

#proof {
    margin: 0 25px 0 0;
}

.service-icon {
    margin: 0 auto 10px;
}

#donations.service-highlight .service-icon{
    width: 203px;
}

#proof.service-highlight .service-icon{
    margin-bottom: 24px;
    width: 298px;
}

#join.service-highlight .service-icon{
    margin-top: 30px;
    margin-bottom: 33px;
    width: 245px;
}

.service-description {
    margin: 0 auto;
    font: 14px arial, verdana;
}

#proof .service-description {
    width: 245px;
}

#join .service-description {
    width: 245px;
}

/* Buttons
-----------------------------------------------------------*/
.footer-button {
	border-radius: 6px;
	background: #555;
	border: 0;
	color: #fff;
	font: bold 18px arial, verdana;
	width: 240px;
	height: 40px;
}

.help-now-button {
	width: 155px;
	height: 46px;
	background: url(images/gradients/red-button-bg.png) repeat-x;
	border: 0;
	border-radius: 3px;
	color: #fff;
	font: bold 18px arial, verdana;
}

.download-finance-button {
    background: #86827f;
    height: 50px;
    width: 255px;
    padding: 3px 0 3px 8px;
    border-radius: 5px;
    text-align: center;
}

.download-finance-button div {
    color: #fff;
    margin: 15px 0 0;
    font: bold 14px arial,verdana;
}

.download-finance-button.first {
    margin-right: 55px;
}

#recentFinancesButton {
    background: #8dc63f;
    border: 0;
    border-radius: 5px;
    height: 45px;
    width: 270px;
    color: #fff;
    font: bold 14px arial, verdana;
}

#donate {
	display: block;
	margin: 10px 0 0 0;
	width: 240px;
	height: 80px;
	border-radius: 5px;
	border: 0;
	text-align: center;
	color: #fff;
	font: bold 22px arial, verdana;
	background: url(images/gradients/donate-bg.png);
}

#joinUs {
    width: 245px;
    height: 55px;
    color: #fff;
    font: bold 20px arial, verdana;
    border: 0;
    border-radius: 5px;
    background: #333;
    text-align: center;
    padding: 30px 0 0;
}

/* Footer
-----------------------------------------------------------*/
/* padder gives a buffer for sticky footer. delete this and 
padder div if you do not want a sticky footer */
#footer, #padder { 
	height: 150px;
}

#footer {
	width: 100%;
	background: #333;
}

#footerContent{
	padding: 10px 0 0 0;
	width: 842px;
	margin: 0 auto;
}

#contact {
	margin: 10px 0 0 0;
}

#contact > div {
	width: 116px;
	margin: 10px auto 0;
}

#news {
	margin: 10px 0 0 0;
}

.footer-divider {
	margin: 10px 30px 0;
	width:1px;
	height: 80px;
	background: url(images/layout/footer-divider.png) no-repeat;
}

#enewsEmail {
	width: 226px;
	border: 0;
	outline: 0;
	border-radius: 2px;
	background: #555;
	padding: 7px;
	margin: 10px 0 0 0;
	text-align: center;
	color: #fff;
}

#financeDescription {
    margin: 40px auto 0;
}

#financeInformation {
    margin: 20px auto 75px;
    width: 900px
}

#financeInformation .large-h-divider-dark {
    width: 900px;
    margin: 40px 0 0 0;
}

#recentFinances {
    margin: 60px 0 0 0;
    width: 380px;
}

#recentFinances #recentFinancesTitle {
    font: 24px arial, verdana;
}

#recentFinances #recentFinancesDescription {
    font: 16px arial, verdana;
}

#recentFinances > * {
    margin: 10px 0;
}

#downloadFinances {
    margin: 30px 0 0 0;
    width: 100%;
}

#staffProfiles {
    margin: 50px auto 0;
}

.staff-profile {
    margin: 0 0 40px 0;
}

.staff-image {
    height: 275px;
    width: 415px;
    border: 1px dashed #000;
    border-radius: 5px;
}

.staff-description {
    width: 415px;
}

.staff-name {
    font: bold 16px arial, verdana;
    color: #8dc63f;
}

.staff-title {
    font: bold 11px arial, verdana;
    color: #000;
}

.staff-bio {
    margin: 10px 0 0 0;
    font: 14px arial, verdana;
}

/* Misc.
-----------------------------------------------------------*/
.header-label {
    margin: 60px 0 0 0;
}

.main-width{
    width: 967px;
}

.hidden {
    display: none;
}

.right {
	float: right;
}

.left {
	float: left;
}

.center {
    margin: 0 auto;
}

.center-text {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.italic {
    font-style: italic;
}

.command {
	cursor: pointer;
}

.green-gradient {
	background-color: #8bc143; 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#daecc1), to(#8cc63f));
    background-image: -webkit-linear-gradient(top, #daecc1, #8cc63f); 
    background-image:    -moz-linear-gradient(top, #daecc1, #8cc63f);
    background-image:     -ms-linear-gradient(top, #daecc1, #8cc63f);
    background-image:      -o-linear-gradient(top, #daecc1, #8cc63f);
}

/* Clearfix
-----------------------------------------------------------*/
.group:after 
{
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */